@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}
/* frontend guys styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  --paragraphs: hsla(0, 0%, 100%, 0.75);
  --bg-h-btn: hsl(0, 0%, 95%);
}

body {
  width: 100%;
  height: 100vh;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;

  /* font-family: "Lexend Deca", sans-serif; */
  font-family: "Big Shoulders Display", cursive;
}

section {
  display: flex;
  max-width: 57em;
  min-height: 35.25em;
}

section > * {
  flex-basis: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--Bright-orange);
  padding: 3em 2.5em 3em 2em;

  border-radius: 1rem 0 0 1rem;
}

.card__text-section h1 {
  font-size: clamp(2rem, 3.35vw, 3rem);
  color: var(--bg-h-btn);
  text-transform: uppercase;

  margin-bottom: 1.563rem;
}

.card__text-section p {
  font-size: clamp(0.8rem, 1.05vw, 1.94rem);
  font-family: "Lexend Deca", sans-serif;
  color: var(--paragraphs);
  line-height: clamp(1em, 2.1vw, 2em);

  letter-spacing: 0.2px;

  margin-bottom: 3em;
}

button {
  padding: 1rem 2rem;
  border: none;

  font-size: clamp(1rem, 1vw, 2rem);
  font-family: "Lexend Deca", sans-serif;
  letter-spacing: 0.5px;

  background-color: var(--bg-h-btn);
  border-radius: 25px;
  color: var(--Bright-orange);
}

.card:nth-of-type(2) {
  border-radius: 0;
  background-color: var(--Dark-cyan);
}

.card:nth-of-type(2) button {
  color: var(--Dark-cyan);
}

.card:nth-of-type(3) {
  border-radius: 0 1rem 1rem 0;

  background-color: var(--Very-dark-cyan);
}

.card:nth-of-type(3) button {
  color: var(--Very-dark-cyan);
}

@media (max-width: 980px) {
  body {
    padding: 1em;
  }
  section {
    /* max-width: em; */
    min-height: 20em;
  }
  .card {
    /* padding: 1.5em 1.25em 1.5em 1em; */
    padding: 3em 2.5em 3em 2em;
  }

  .card__text-section p {
    font-size: clamp(0.9rem, 1.05vw, 1.94rem);
  }
  button {
    font-size: clamp(0.8rem, 1.05vw, 1.94rem);

    padding: 0.5rem 1rem;
  }
}

@media (max-width: 500px) {
  body {
    height: 1100%;
    padding: 5em 2em;
    padding-bottom: 5em;
  }
  section {
    flex-direction: column;
  }

  .card:nth-of-type(1) {
    border-radius: 1rem 1rem 0 0;
  }
  .card:nth-of-type(2) {
    border-radius: 0;
  }

  .card:nth-of-type(3) {
    border-radius: 0 0 1rem 1rem;
  }

  .card__text-section h1 {
    margin-top: 1.563rem;
  }
  .card__text-section h1 {
    font-size: clamp(2rem, 10vw + 1rem, 3rem);
  }
  .card__text-section p {
    font-size: clamp(1rem, 2vw, 1rem);
    line-height: clamp(2em, 2vw + 1em, 3em);
  }

  button {
    font-size: clamp(1rem, 2vw, 1rem);

    padding: 1rem 2rem;
  }
}
